# Based on onk/onkcop
# https://github.com/onk/onkcop

Rails:
  Enabled: true

# slug とか created_by とか、NOT NULL だが create_table 時に
# default 値を定義できないカラムは存在する。
Rails/NotNullColumn:
  Enabled: false

# method_missing を隠したい場合は respond_to? を使うべき
Rails/SafeNavigation:
  ConvertTry: true

# valid? チェックし忘れを防ぎたい
Rails/SaveBang:
  Enabled: true

Rails/UnknownEnv:
  Environments:
    - development
    - test
    - production
    - staging

# アプリケーションの時刻ではなく、ユーザが送ってきたRFC3339(YYYY-MM-DDThh:mm:ssZ) で送られてきたタイムゾーンを使いたい場合に邪魔になる。
# TimeZoneのない文字列を使わないように寄せるべき。
Rails/TimeZone:
  Enabled: false

Rails/ReversibleMigration:
  Enabled: false
